@charset 'utf-8';
//$global-flexbox: true;
@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
 @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
 @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

body {
  background: #fff url(../images/bg1.png) no-repeat top center;
  background-size: 100% auto;
  @include breakpoint(medium down) {
    background-size: auto 95vh;
    }
}

.row {
  transition: all .4s ease;
  @include breakpoint(1720px down) {
    max-width: 1200px;
  }
}

h2 {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 35px;
  color: $primary-color;
  font-size: 50px;
  font-weight: 700;
  line-height: 45px;
  width: 100%;
}

.content-wrap {
  background: url(../images/contentbg1.png) no-repeat center top;
  background-size: 1600px auto;
  max-width: 1600px;
  margin: 0 auto;

  @include breakpoint(small down) {
    background-size: 160% auto;
    @include breakpoint(landscape) {
      background-size: 110% auto;
    }
  }
  @include breakpoint(374px down) {
    background-size: 180% auto;
  }
}
.content {
  width: 1024px;
  margin: 0 auto;
  @include breakpoint(medium down) {
    width: 768px;
  }
}
.header {
  padding-top: 50px;
  width: 100%;
  @include breakpoint(small down) {
    padding-top: 15px;
  }
}

.header__logo {
  @include breakpoint(medium down) {
    margin: 0 auto;
  }
  img {
    width: 100%;
    max-width: 160px;

    @include breakpoint(medium down) {
      width: 240px;
      max-width: 240px;
    }
  }
}

.header__nav {
  z-index: 6;
  position: relative;
  text-align: center;
  padding-top: 5px;
  @include breakpoint(medium down) {
    display: none;
  }
  li {
    display: inline-block;
  }
  a {
    color: $secondary-color;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.12px;
    &:hover {
      opacity: .9;
    }
  }
}

.header__phone {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.12px;
  color: #fff;
  text-align: right;
  padding-top: 5px;
  @include breakpoint(medium down) {
    display: none;
    }
  a {
    color: #fff;
  }
}

.promo {
  position: relative;
  height: 1460px;
  padding: 0;
  width: 1024px;
    @include breakpoint(medium down) {
      width: 768px;
      }
  @include breakpoint(small down) {
    margin-top: 13vh;
    height: 205vw;
    @include breakpoint(landscape) {
      height: 100vw;
    }
  }
    @include breakpoint(568px down) {
      @include breakpoint(landscape) {
        height: 120vw;
      }
      }
  @include breakpoint(374px down) {
    height: 150vh;
  }
  span {
    position: absolute;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.36px;
    color: #fff;
    z-index: 8;
    transition: all 2.5s ease;

    @include breakpoint(small down) {
      font-size: 20px;
      display: none;
    }
  }
  .promo__design {
    left: calc(40% - 269px) !important;
    top: 193px !important;
  }
  .promo__digital {
    left: calc(40% + 245px) !important;
    top: 171px !important;
  }
  .promo__event {
    left: calc(40% + 374px) !important;
    top: 300px !important;
  }
  .promo__production {
    left: calc(40% - 337px) !important;
    top: 421px !important;
  }
  .promo__placement {
    left: calc(40% + 114px) !important;
    top: 452px !important;
  }
  @include breakpoint(medium down) {

    .promo__event {
      left: calc(40% + 314px) !important;
      top: 300px !important;
    }
    .promo__production {
      left: calc(40% - 300px) !important;
      top: 421px !important;
    }
    }
  @include breakpoint(small down) {
    .promo__design {
      left: 4rem !important;
      top: calc(9% - 8rem) !important;
    }
    .promo__digital {
      left: auto !important;
      right: 4rem !important;
      top: calc(9% - 9rem) !important;
    }
    .promo__event {
      left: auto !important;
      right: 2rem !important;
      top: 4% !important;
    }
    .promo__production {
      left: 2rem !important;
      top: calc(1% + 10rem) !important;
    }
    .promo__placement {
      left: auto !important;
      right: 4rem !important;
      top: calc(1% + 12rem) !important;
    }
  }
  }

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
  .about {
    width: 100%;
    margin-top: 840px;
    position: relative;
    margin-bottom: 50px;
    height: 700px;
    display: flex;
    align-items: center;
      @include breakpoint(medium down) {
        height: 1000px;
            }
      div {
        margin-top: 180px;
        margin-right: 40px;
        @include breakpoint(medium down) {
          margin: 800px auto 0 auto;
          padding: 0 20px;
          max-width: 700px;
          text-align: center;
          p {
            font-size: 30px;
            line-height: 1.2;
          }
        }
    }
    h2 {
      color: $secondary-color;
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 700;
      line-height: 35px;
      text-align: left;
      @include breakpoint(medium down) {
        text-align: center;
        font-size: 46px;
        line-height: 2;
      }
    }
    p {
      color: $secondary-color;
      font-size: 17px;
      font-weight: 500;
      line-height: 25px;
    }
  }
  h4 {
    color: $primary-color;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    width: 100%;
    margin-bottom: 20px;
    width: 100%;
      @include breakpoint(medium down) {
        font-size: 46px;
        line-height: 2;
        }
  }
  .our-company {
    margin: 0 auto;
    float: none !important;
    clear: both;
    overflow: hidden;
    p {
      margin: 0 auto;
      max-width: 514px;
      margin-bottom: 40px;
        @include breakpoint(medium down) {
          max-width: 700px;
          font-size: 30px;
          line-height: 1.2;
          margin-bottom: 80px;
          }
    }
  }
  .our-company__wrap {
    position: relative;
    float: none !important;
    clear: both;
    overflow: hidden;
    width: 100%;
    margin-top: 300px;

    @include breakpoint(medium down) {
      margin-top: 500px;
    }
  }
  .ways-wrap {
    position: relative;
    text-align: left;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px !important;
    display: flex;
    //top: -45vh;
    float: none !important;
    overflow: hidden;
    clear: both;
      @include breakpoint(medium down) {
        text-align: center;
        max-width: 700px !important;
        }
    & > div {
      padding-bottom: 50px;
    }
    img {
      display: block;
      width: 60px;
      height: auto;
      float: left;
      @include breakpoint(medium down) {
        margin: 0 auto;
        float: none;
      }
    }
    span {
      color: $secondary-color;
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
      display: block;
      margin-left: 10px;
      margin-top: 10px;
      float: left;
      width: calc(100% - 70px);
       @include breakpoint(medium down) {
         width: 100%;
         font-size: 23px;
         line-height: 25px;
         margin-left: 0;
         }
    }
  }
  .clients {
    max-width: 1024px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    @include breakpoint(small down) {
      padding: 0 20px;
    }
  }
  .client {
    text-align: center;
    padding: 70px 0;
    border-top: 1px solid #e3d8d6;
    border-top: 1px solid #e3d8d6;

    @include breakpoint(small down) {
      padding: 30px 20px 10px 20px;
    }
  }
  .contacts {
    text-align: center;
    padding-bottom: 50px;
      @include breakpoint(medium down) {
        font-size: 30px;
        }
    span {
      color: $secondary-color;
      font-size: 17px;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 20px;
      width: 100%;
      @include breakpoint(medium down) {
        font-size: 30px;
        line-height: 1.5;
      }
    }
    a {
      color: $secondary-color;
      width: 100%;
    }
  }
  span.contacts__phone {
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    @include breakpoint(medium down) {
      font-size: 45px;
    }
  }
  .footer {
    position: relative;
    background: url(../images/footerbg.png) no-repeat bottom center;
    background-size: cover;
    height: 132vh;
    padding-top: 20vh;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;

    @include breakpoint(medium down) {
      height: auto;
      padding-bottom: 350px;
      font-size: 30px;
      line-height: 1.5;
    }
    .column {
      max-width: 510px;
      margin: 0 auto;
      float: none !important;
      @include breakpoint(medium down) {
        max-width: 700px;
      }
    }
    form {
      margin: 0 auto;
      float: none !important;
      max-width: 400px;
      @include breakpoint(medium down) {
        max-width: 700px;
      }
    }
    label {
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 17px;
      font-weight: 500;
      line-height: 25px;
        @include breakpoint(medium down) {
          font-size: 30px;
          }
    }
    .button {
      border-radius: 4px;
      background-color: $primary-color;
      display: block;
      font-size: 17px;
      font-weight: 700;
      width: 100%;
        @include breakpoint(medium down) {
          font-size: 30px;
          }
    }
  }
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid #a9847d;
    background-color: #ffffff;
      @include breakpoint(medium down) {
        height: 60px;
        }
  }
  .footer__logo {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);

  }
  .ange {
    position: absolute !important;
    width: 100%;
    display: block;
    z-index: 4;
    transition: all 3s ease;
    @include breakpoint(medium down) {
      height: 100vh;
      width: auto;
    }
  }
  .erroermassagge {
    display: none;
    width: 100%;
    color: $primary-color;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
  }